Destruct/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Destruct/obj/Debug/Destruct.csproj.FileListAbsolute.txt
Destruct/obj/Debug/Destruct.csproj.GenerateResource.Cache
Destruct/obj/Debug/Destruct.csprojResolveAssemblyReference.cache
Destruct/obj/Debug/Destruct.exe
Destruct/obj/Debug/Destruct.pdb
Destruct.v12.suo
Destruct/bin/Debug/Destruct.exe
Destruct/bin/Debug/Destruct.pdb
